.source {
    width: 100px;
    height: 100px;
    background-color: #884400;
    cursor: pointer;
    margin: 10px;
}

.grid-box {
    margin-top: 15px;
    padding: 10px;
    height: 120px;
    border: 1px solid #444;
    display: flex;
    overflow: hidden;
}

.free-box {
    position: relative;
    margin-top: 15px;
    height: 140px;
    border: 1px solid #444;
    overflow: hidden;
}

.cloned-source {
    width: 100px;
    height: 100px;
    margin: 10px;
    flex: none;
    position: absolute;
    z-index: 10;
    border: 1px solid #444;
}
